.contest__description {
  .h-default();
  font-size: 4.4vw;
  line-height: 9.4vw;
  width: 87.5%;
  max-width: 390px;
  margin: 0 auto;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 34px;
}

@media (min-width: 500px) {
  .contest__description {
    font-size: 22px;
    line-height: 47px;
  }
}

.contest__sentence {
  display: none;
}

@media (min-width: @tablet-width) {
  .contest__sentence {
    display: inline;
  }

  .contest {
    padding-bottom: 52px;
  }

  .contest__description {
    font-size: 18px;
    line-height: 30px;
    width: 520px;
    max-width: none;
    padding-top: 93px;
    padding-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .contest__description {
    width: 800px;
    max-width: none;
    padding-bottom: 64px;
  }

  .contest {
    padding-bottom: 0;
  }
}
