.download {
  width: 280px;
}

.download__title {
  .h-default();
  margin-bottom: 32px;
}

.download__list {
  margin-bottom: 10px;
}

.download__link {
  color: @paper-color;
  border-color: @paper-color;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-transform: none;
  text-align: center;

  &:hover,
  &:focus {
    color: @extra-color;
    background-color: @paper-color;
  }

  &:active {
    color: fade(@extra-color, 30%);
  }
}

.download__description {
  .h-default();
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-weight: 300;
  color: @paper-color;
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.download__lid {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-weight: 300;
  color: @paper-color;
  text-transform: none;
  font-size: 40px;
  line-height: 48px;
  display: none;
  width: 230px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .download {
    width: 300px;
    padding-bottom: 0;
  }

  .download__lid {
    display: block;
  }

  .download__link {
    width: 300px;
  }

  .download__description {
    font-size: 18px;
  }

  .download__list {
    margin-bottom: 26px;
  }

  .download__title {
    margin-bottom: 47px;
  }
}

@media (min-width: @desktop-width) {
  .download__lid {
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 49px;
  }

  .download__link {
    font-size: 21px;
    line-height: 21px;
  }

  .download__title {
    margin-bottom: 67px;
  }

  .download__list {
    margin-bottom: 42px;
  }
}
