.download {
  width: 87.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.download__title {
  .h-default();
  margin-bottom: 32px;
  width: 100%;
  max-width: 400px;
}

.download__list {
  margin-bottom: 10px;
}

.download__link {
  color: @paper-color;
  border-color: @paper-color;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-transform: none;
  text-align: center;
  width: 100%;
  font-size: 5.6vw;
  line-height: 5vw;

  &:hover,
  &:focus {
    color: @extra-color;
    background-color: @paper-color;
  }

  &:active {
    color: fade(@extra-color, 30%);
  }
}

.download__description {
  .h-default();
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-weight: 300;
  color: @paper-color;
  text-transform: none;
  font-size: 4.4vw;
  line-height: 24px;
  text-align: center;
  max-width: 550px;
}

@media (min-width: 450px) {
  .download__description {
    font-size: 18px;
  }

  .download__link {
    font-size: 25px;
    line-height: 25px;
  }
}

.download__lid {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-weight: 300;
  color: @paper-color;
  text-transform: none;
  font-size: 40px;
  line-height: 48px;
  display: none;
  width: 230px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .download {
    width: 300px;
    padding-bottom: 0;
    margin: 0;
  }

  .download__lid {
    display: block;
  }

  .download__link {
    width: 300px;
    font-size: 18px;
    line-height: 18px;
  }

  .download__description {
    font-size: 18px;
  }

  .download__list {
    margin-bottom: 46px;
  }

  .download__title {
    margin-bottom: 47px;
  }
}

@media (min-width: @desktop-width) {
  .download__lid {
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 49px;
  }

  .download__link {
    font-size: 21px;
    line-height: 21px;
  }

  .download__title {
    margin-bottom: 67px;
  }

  .download__list {
    margin-bottom: 62px;
  }
}
