.figure-list__inner {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .figure-list__inner {
    width: 620px;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .figure-list__inner {
    width: 940px;
  }
}
