.form__submit {
  box-sizing: border-box;
  width: 280px;
  color: @paper-color;
  background-color: rgba(42, 171, 109, 1);
  border: none;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 16px;
  padding-right: 5px;
  padding-bottom: 16px;
  padding-left: 5px;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: rgba(28, 155, 94, 1);
  }

  &:active {
    color: fade(@paper-color, 30%);
    background-color: rgba(28, 155, 94, 1);
  }
}

.form-submit--disabled {
  background-color: @trans-dark-color;
}
