.map__wrapper {
  .h-default();
  vertical-align: bottom;
  position: relative;
  min-height: 200px;
}

.map {
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-position: left 50% bottom -14px;
  background-repeat: no-repeat;
  background-size: 320px;
  min-height: 200px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/bg-map-mobile@2x.png");
  }
}

.map__polygon {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.map__polygon polygon {
  fill: @paper-color;
}

@media (min-width: @tablet-width) {
  .map {
    background-image: url("../../img/bg-map-tablet@1x.jpg");
    background-position: left 50% bottom -126px;
    min-height: 368px;
    background-size: 700px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .map {
    background-image: url("../../img/bg-map-desktop@1x.jpg");
    background-position: left 50% bottom -197px;
    min-height: 499px;
    background-size: 1200px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/bg-map-desktop@2x.jpg");
    }
  }

  .map__polygon {
    width: 1200px;
    height: auto;
  }
}
