.page-header {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: @paper-color;
  background-color: @main-color;
  padding-bottom: 29px;
}

.page-header__top-wrap {
  padding-bottom: 398px;
  background-image: url("../../img/iphone-hand-mobile@1x.png"), url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 0 bottom 0, left 50% bottom 0;
}

.page-header--inner {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: left 50% bottom -225px;
  padding-bottom: 0;
}

.page-header__top-wrap--inner {
  padding: 0;
  background-image: none;
}

.page-header__title {
  .h-default();
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-transform: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  min-height: 140px;
  padding-top: 31px;
}

.page-header__log-wrap {
  background-color: fade(@contrast-color, 30%);
  width: 320px;
  margin: 0 auto;
}

.page-header__log-wrap--open {
  background-color: @main-color;
}

.page-header__row {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 21px;
}

.page-header__bottom-wrap {
  box-sizing: border-box;
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 28px;
}

.page-header__logo {
  width: 75px;
  height: 24px;
}

.page-header__toggle {
  width: 50px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.page-header__toggle--closed {
  background-image: url("../../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  background-position: right 0 top 0;
}

.page-header__toggle--open {
  background-image: url("../../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-position: right 0 top 0;
}

.page-header__toggle--nojs {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    background-image: url("../../img/iphone-hand-tablet@1x.png"), url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: right -20px bottom 0, left 50% bottom 0;
    padding-bottom: 0;
  }

  .page-header--inner {
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 50% bottom -288px;
  }

  .page-header__top-wrap {
    padding-bottom: 0;
    background-image: none;
  }

  .page-header__log-wrap {
    width: auto;
    margin: 0;
  }

  .page-header__row {
    width: 620px;
    padding-top: 43px;
    padding-bottom: 36px;
  }

  .page-header__bottom-wrap {
    width: 620px;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 91px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 109px;
  }

  .page-header__logo {
    width: 150px;
    height: auto;
  }

  .page-header__logo:hover path {
    fill: @extra-color;
  }

  .page-header__logo:focus path {
    fill: @extra-color;
  }

  .page-header__logo:active path {
    fill: fade(@paper-color, 30%);
  }

  .page-header__title {
    font-size: 50px;
    line-height: 60px;
    width: 550px;
    padding-top: 70px;
    min-height: 261px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-image: url("../../img/iphone-hand-desktop@1x.png"), url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 4px bottom 0, left 50% bottom 0;
  }

  .page-header__top-wrap {
    background-color: fade(@contrast-color, 30%);
  }

  .page-header__top-box {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 33px;
  }

  .page-header__row {
    width: 280px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header__main-nav {
    width: 620px;
  }

  .page-header__bottom-wrap {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 124px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__log-wrap {
    background-color: transparent;
  }

  .page-header__title {
    width: 830px;
    padding-top: 60px;
    min-height: 221px;
  }

  .page-header--inner {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 50% bottom -459px;
  }
}
