.progress-value {
  .h-default();
  margin-bottom: 42px;
}

.progress-value__label {
  font-size: 5.6vw;
  line-height: 9.4vw;
  display: block;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 6px;
  padding-left: 69px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 12vw;
    height: 12vw;
    border: 2px solid @trans-dark-color;
  }
}

.progress-value__input:hover + .progress-value__label::before,
.progress-value__input:focus + .progress-value__label::before {
  border-color: @main-color;
}

.progress-value__input:active + .progress-value__label::before {
  border-color: @extra-color;
}

.progress-value__input:checked + .progress-value__label::before {
  background-image: url("../img/icon-ok.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.progress-value__input:disabled + .progress-value__label::before {
  display: none;
}

.progress-value__label::before {
  background-size: 7vw auto;
}

@media (min-width: 450px) {
  .progress-value__label {
   font-size: 25px;
   line-height: 42px;
  }

  .progress-value__label::before {
    width: 54px;
    height: 54px;
  }

  .progress-value__label::before {
    background-size: 31.5px auto;
  }
}

@media (min-width: @tablet-width) {
  .progress-value {
    margin-left: 59px;
  }

  .progress-value__label {
    font-size: 18px;
    line-height: 30px;
    padding-left: 60px;
  }

  .progress-value__label::before {
    width: 39px;
    height: 39px;
    background-size: auto;
  }
}

@media (min-width: @desktop-width) {
  .progress-value {
    margin-left: 0;
  }

  .progress-value__label {
    padding-right: 0;
  }
}
