.progress {
  .fieldset-default();
  width: 87.5%;
  margin: 0 auto;
}

.progress__legend {
  padding-right: 0;
  padding-left: 0;
  font-size: 4.4vw;
  line-height: 5.6vw;
  color: @extra-color;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 82%;
  margin: 0 auto;
  margin-bottom: 39px;
}

@media (min-width: 450px) {
  .progress__legend {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (min-width: @tablet-width) {
  .progress {
    width: 620px;
    border: 2px solid @trans-dark-color;
    padding-bottom: 6px;
  }

  .progress__legend {
    font-size: 14px;
    line-height: 30px;
    width: auto;
    padding-right: 33px;
    padding-left: 33px;
    margin-bottom: 38px;
  }
}

@media (min-width: @desktop-width) {
  .progress {
    width: 936px;
    padding-bottom: 11px;
  }

  .progress__inner {
    display: flex;
    width: 820px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
