.progress {
  .fieldset-default();
  width: 280px;
  margin: 0 auto;
}

.progress__legend {
  padding-right: 0;
  padding-left: 0;
  line-height: 18px;
  color: @extra-color;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 39px;
}
