.reviews__item {
  margin: 0;
}

.reviews__text {
  .h-default();
  line-height: 30px;
}

.reviews__author-name {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

.reviews__toggles {
  .h-default();
}
