.send {
  .h-default();
}

.send__link {
  color: @extra-color;
  border-color: @extra-color;

  &:hover,
  &:focus {
    color: @paper-color;
    background-color: @extra-color;
  }

  &:active {
    color: fade(@paper-color, 30%);
  }
}

.send__cancel {
  color: fade(@main-color, 10%);
  border-color: fade(@main-color, 10%);

  &:hover,
  &:focus {
    color: fade(@main-color, 30%);
    border-color: (@main-color, 30%);
  }

  &:active {
    color: fade(@paper-color, 30%);
    background-color: fade(@main-color, 30%);
  }
}
