.user-contacts-value {
  .h-default();
}

.user-contacts-value__label {
  line-height: 30px;
  color: @extra-color;
  text-transform: uppercase;
}

.user-contacts-value__input {
  font-size: 18px;
  line-height: 30px;
  border: 2px solid rgba(229, 229, 229, 1);

  &:hover,
  &:focus {
    border-color: @main-color;
  }

  &:active {
    border-color: @extra-color;
  }
}

.user-contacts-value__input::-webkit-input-placeholder {
  opacity: 1;
  color: @main-color;
}

.user-contacts-value__input:-ms-input-placeholder {
  opacity: 1;
  color: @main-color;
}

.user-contacts-value__input::placeholder {
  opacity: 1;
  color: @main-color;
}
