.user-contacts-value {
  .h-default();
  margin-bottom: 17px;
}

.user-contacts-value__label {
  display: block;
  line-height: 30px;
  color: @extra-color;
  text-transform: uppercase;
  padding-left: 22px;
  margin-bottom: 4px;
}

.user-contacts-value__input {
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @trans-dark-color;
  padding-top: 16px;
  padding-right: 5px;
  padding-bottom: 14px;
  padding-left: 21px;
  box-sizing: border-box;
  width: 280px;

  &:hover,
  &:focus {
    border-color: @main-color;
  }

  &:active {
    border-color: @extra-color;
  }
}

.user-contacts-value__input::placeholder {
  opacity: 1;
  color: @main-color;
}

@media (min-width: @tablet-width) {
  .user-contacts-value {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 28px;
    position: relative;
  }

  .user-contacts-value--number::after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: @trans-dark-color;
    background-image: url("../img/icon-phone.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .user-contacts-value--adress::after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: @trans-dark-color;
    background-image: url("../img/icon-mail.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .user-contacts-value__label {
    order: 1;
    margin-bottom: 0;
    padding-left: 19px;
  }

  .user-contacts-value__input {
    width: 500px;
    margin-bottom: 10px;
    padding-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .user-contacts-value {
    width: 376px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 13px;
  }

  .user-contacts-value__input {
    width: 376px;
  }
}
