.version {
  .fieldset-default();
  width: 87.5vw;
  margin: 0 auto;
}

.version__legend {
  display: block;
  font-size: 4.4vw;
  line-height: 5.6vw;
  text-transform: uppercase;
  color: @extra-color;
  text-align: center;
  margin-bottom: 35px;
}

@media (min-width: 450px) {
  .version__legend {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (min-width: @tablet-width) {
  .version {
    width: 620px;
    border: 2px solid @trans-dark-color;
    padding-bottom: 19px;
  }

  .version__legend {
    font-size: 14px;
    line-height: 30px;
    box-sizing: border-box;
    padding-right: 26px;
    padding-left: 26px;
    margin-bottom: 37px;
  }
}

@media (min-width: @desktop-width) {
  .version {
    width: 431px;
    padding-bottom: 23px;
  }

  .version__legend {
    margin-bottom: 39px;
  }
}
